<a href="https://colab.research.google.com/github/lina-ba/STEG_BILLING_HISTORY_Dataset_PreProcessing/blob/main/Tunisian_electricity_and_gas_2005_2019_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Dataset Exploration and attributing information

In [ ]:
df=pd.read_csv("STEG_BILLING_HISTORY.csv")
df

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399250,train_Client_110762,2018-10-22,11,1331293.0,0.0,203.0,9.0,1.0,693.0,0.0,0.0,0.0,18728.0,19421.0,4.0,ELEC
399251,train_Client_110762,2019-02-20,11,1331293.0,0.0,203.0,9.0,1.0,3.0,0.0,0.0,0.0,19421.0,19424.0,4.0,ELEC
399252,train_Client_110762,2019-06-24,11,1331293.0,0.0,203.0,9.0,1.0,1.0,0.0,0.0,0.0,19424.0,19425.0,4.0,ELEC
399253,train_Client_110762,2018-02-19,11,1331293.0,0.0,203.0,6.0,1.0,0.0,0.0,0.0,0.0,18609.0,18609.0,4.0,ELEC
399254,train_Client_110762,2016-10-20,11,1331293.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
client_0_bills=df.head(10)
client_0_bills

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0.0,207.0,9.0,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0.0,207.0,9.0,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0.0,207.0,9.0,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0.0,203.0,9.0,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0.0,203.0,6.0,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC

In [ ]:
type(client_0_bills)

pandas.core.frame.DataFrame

In [ ]:
df.info()#Display the general information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399255 entries, 0 to 399254
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             399255 non-null  object
 1   invoice_date          399255 non-null  object
 2   tarif_type            399255 non-null  int64
 3   counter_number        399251 non-null  float64
 4   counter_statue        399254 non-null  float64
 5   counter_code          399254 non-null  float64
 6   reading_remarque      398831 non-null  float64
 7   counter_coefficient   399254 non-null  float64
 8   consommation_level_1  399254 non-null  float64
 9   consommation_level_2  399254 non-null  float64
 10  consommation_level_3  399254 non-null  float64
 11  consommation_level_4  399254 non-null  float64
 12  old_index             399254 non-null  float64
 13  new_index             399254 non-null  float64
 14  months_number         399254 non-null  float64
 15  counter_type          399254 non-null  object
dtypes: float64(12), int64(1), object(3)
memory usage: 48.7+ MB

In [ ]:
df.shape#to know the number of  rows and columns that we have in this dataset

(399255, 16)

In [ ]:
df.describe(include="object")#to know How many categorical features are present in the dataset

                  client_id invoice_date counter_type
count                399255       399255       399254
unique                11963         4628            2
top     train_Client_107082   2019-03-09         ELEC
freq                    298          351       274127

In [ ]:
df.info(memory_usage='deep')#to know How much memory space does the dataset consume

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399255 entries, 0 to 399254
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             399255 non-null  object
 1   invoice_date          399255 non-null  object
 2   tarif_type            399255 non-null  int64
 3   counter_number        399251 non-null  float64
 4   counter_statue        399254 non-null  float64
 5   counter_code          399254 non-null  float64
 6   reading_remarque      398831 non-null  float64
 7   counter_coefficient   399254 non-null  float64
 8   consommation_level_1  399254 non-null  float64
 9   consommation_level_2  399254 non-null  float64
 10  consommation_level_3  399254 non-null  float64
 11  consommation_level_4  399254 non-null  float64
 12  old_index             399254 non-null  float64
 13  new_index             399254 non-null  float64
 14  months_number         399254 non-null  float64
 15  counter_type          399254 non-null  object
dtypes: float64(12), int64(1), object(3)
memory usage: 117.1 MB

In [ ]:
df.columns

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'reading_remarque',
       'counter_coefficient', 'consommation_level_1', 'consommation_level_2',
       'consommation_level_3', 'consommation_level_4', 'old_index',
       'new_index', 'months_number', 'counter_type'],
      dtype='object')

Feature Distribution

In [ ]:
round(df.nunique()/df.shape[0],2)*100#to know the percentage of distinct values in each column of the dataframe

client_id                3.0
invoice_date             1.0
tarif_type               0.0
counter_number           5.0
counter_statue           0.0
counter_code             0.0
reading_remarque         0.0
counter_coefficient      0.0
consommation_level_1     1.0
consommation_level_2     1.0
consommation_level_3     0.0
consommation_level_4     1.0
old_index               17.0
new_index               17.0
months_number            0.0
counter_type             0.0
dtype: float64

In [ ]:
df.isnull().sum()#Inspect the dataset for potential missing values.

client_id                 0
invoice_date              0
tarif_type                0
counter_number            4
counter_statue            1
counter_code              1
reading_remarque        424
counter_coefficient       1
consommation_level_1      1
consommation_level_2      1
consommation_level_3      1
consommation_level_4      1
old_index                 1
new_index                 1
months_number             1
counter_type              1
dtype: int64

In [ ]:
df[df['tarif_type'].isnull()==True]

Empty DataFrame
Columns: [client_id, invoice_date, tarif_type, counter_number, counter_statue, counter_code, reading_remarque, counter_coefficient, consommation_level_1, consommation_level_2, consommation_level_3, consommation_level_4, old_index, new_index, months_number, counter_type]
Index: []

In [ ]:
#i will use the strategy mode to handle missing values because  it is used  for categorical data or for numeric data that behaves categorically, i.e., representing discrete values with frequent repeats.
#and as i observed the numericals data  repeats frequently
df["tarif_type"]=df['tarif_type'].fillna(df["tarif_type"].mode()[0])
df.loc[25769,'tarif_type']

np.int64(40)

In [ ]:
df["counter_number"]=df['counter_number'].fillna(df["counter_number"].mode()[0])
df["counter_statue"]=df['counter_statue'].fillna(df["counter_statue"].mode()[0])
df["counter_code"]=df['counter_code'].fillna(df["counter_code"].mode()[0])
df["reading_remarque"]=df['reading_remarque'].fillna(df["reading_remarque"].mode()[0])
df["counter_coefficient"]=df['counter_coefficient'].fillna(df["counter_coefficient"].mode()[0])
df["consommation_level_1"]=df['consommation_level_1'].fillna(df["consommation_level_1"].mode()[0])
df["consommation_level_2"]=df['consommation_level_2'].fillna(df["consommation_level_2"].mode()[0])
df["consommation_level_3"]=df['consommation_level_3'].fillna(df["consommation_level_3"].mode()[0])
df["consommation_level_4"]=df['consommation_level_4'].fillna(df["consommation_level_4"].mode()[0])
df["old_index"]=df['old_index'].fillna(df["old_index"].mode()[0])
df["new_index"]=df['new_index'].fillna(df["new_index"].mode()[0])
df["months_number"]=df['months_number'].fillna(df["months_number"].mode()[0])
df["counter_type"]=df['counter_type'].fillna(df["counter_type"].mode()[0])

In [ ]:
df.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

In [ ]:
df.describe()#Runed a descriptive analysis on numeric features (columns).

,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,399255.000000,3.992550e+05,399255.000000,399255.000000,399255.000000,399255.000000,399255.000000,399255.000000,399255.000000,399255.000000,3.992550e+05,3.992550e+05,399255.000000
mean,20.164161,1.117597e+11,0.041655,171.692475,7.309136,1.000020,403.142984,108.523803,20.296678,53.467536,1.751549e+04,1.807166e+04,29.134586
std,13.476306,1.575050e+12,0.373646,133.347665,1.359450,0.014846,569.405065,895.410807,207.550092,1146.990353,4.338393e+04,4.399993e+04,1734.763789
min,8.000000,0.000000e+00,0.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.000000
25%,11.000000,1.225110e+05,0.000000,5.000000,6.000000,1.000000,78.000000,0.000000,0.000000,0.000000,1.752000e+03,2.019000e+03,4.000000
50%,11.000000,4.964350e+05,0.000000,203.000000,6.000000,1.000000,269.000000,0.000000,0.000000,0.000000,7.473000e+03,7.968000e+03,4.000000
75%,40.000000,1.132431e+06,0.000000,207.000000,9.000000,1.000000,598.000000,0.000000,0.000000,0.000000,2.126600e+04,2.193900e+04,4.000000
max,45.000000,2.738110e+13,5.000000,600.000000,9.000000,10.000000,93385.000000,209952.000000,45360.000000,343568.000000,2.800280e+06,2.870972e+06,231602.000000

In [ ]:
df.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC

In [ ]:
#Select the bills records for the client with an id ='train_Client_0'
df[df["client_id"]=='train_Client_0']#first method

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0.0,207.0,9.0,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0.0,207.0,9.0,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0.0,207.0,9.0,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0.0,203.0,9.0,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0.0,203.0,6.0,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0.0,203.0,6.0,1.0,174.0,0.0,0.0,0.0,5417.0,5591.0,4.0,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0.0,203.0,6.0,1.0,628.0,0.0,0.0,0.0,10780.0,11408.0,4.0,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0.0,203.0,6.0,1.0,886.0,0.0,0.0,0.0,11408.0,12294.0,4.0,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0.0,203.0,8.0,1.0,147.0,0.0,0.0,0.0,13983.0,14130.0,4.0,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0.0,203.0,8.0,1.0,99.0,0.0,0.0,0.0,14384.0,14483.0,4.0,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0.0,203.0,8.0,1.0,141.0,0.0,0.0,0.0,14483.0,14624.0,4.0,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0.0,207.0,9.0,1.0,217.0,0.0,0.0,0.0,14849.0,15066.0,4.0,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0.0,203.0,8.0,1.0,292.0,0.0,0.0,0.0,10488.0,10780.0,4.0,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0.0,203.0,6.0,1.0,497.0,0.0,0.0,0.0,7273.0,7770.0,4.0,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0.0,203.0,8.0,1.0,38.0,0.0,0.0,0.0,14264.0,14302.0,2.0,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0.0,203.0,6.0,1.0,278.0,0.0,0.0,0.0,6761.0,7039.0,4.0,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0.0,203.0,6.0,1.0,234.0,0.0,0.0,0.0,7039.0,7273.0,4.0,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0.0,203.0,6.0,1.0,124.0,0.0,0.0,0.0,3685.0,3809.0,4.0,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0.0,203.0,6.0,1.0,141.0,0.0,0.0,0.0,3809.0,3950.0,4.0,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0.0,203.0,6.0,1.0,162.0,0.0,0.0,0.0,3950.0,4112.0,4.0,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0.0,203.0,6.0,1.0,159.0,0.0,0.0,0.0,4112.0,4271.0,4.0,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0.0,203.0,6.0,1.0,240.0,0.0,0.0,0.0,4453.0,4693.0,4.0,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,4693.0,4969.0,4.0,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0.0,203.0,6.0,1.0,182.0,0.0,0.0,0.0,4271.0,4453.0,4.0,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0.0,203.0,6.0,1.0,171.0,0.0,0.0,0.0,5246.0,5417.0,4.0,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0.0,203.0,6.0,1.0,315.0,0.0,0.0,0.0,5591.0,5906.0,4.0,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0.0,203.0,6.0,1.0,312.0,0.0,0.0,0.0,5906.0,6218.0,4.0,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0.0,203.0,6.0,1.0,267.0,0.0,0.0,0.0,6218.0,6485.0,4.0,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,6485.0,6761.0,4.0,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0.0,203.0,6.0,1.0,277.0,0.0,0.0,0.0,4969.0,5246.0,4.0,ELEC

In [ ]:
df.query("client_id=='train_Client_0'")#second method

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0.0,207.0,9.0,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0.0,207.0,9.0,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0.0,207.0,9.0,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0.0,203.0,9.0,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0.0,203.0,6.0,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0.0,203.0,6.0,1.0,174.0,0.0,0.0,0.0,5417.0,5591.0,4.0,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0.0,203.0,6.0,1.0,628.0,0.0,0.0,0.0,10780.0,11408.0,4.0,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0.0,203.0,6.0,1.0,886.0,0.0,0.0,0.0,11408.0,12294.0,4.0,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0.0,203.0,8.0,1.0,147.0,0.0,0.0,0.0,13983.0,14130.0,4.0,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0.0,203.0,8.0,1.0,99.0,0.0,0.0,0.0,14384.0,14483.0,4.0,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0.0,203.0,8.0,1.0,141.0,0.0,0.0,0.0,14483.0,14624.0,4.0,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0.0,207.0,9.0,1.0,217.0,0.0,0.0,0.0,14849.0,15066.0,4.0,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0.0,203.0,8.0,1.0,292.0,0.0,0.0,0.0,10488.0,10780.0,4.0,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0.0,203.0,6.0,1.0,497.0,0.0,0.0,0.0,7273.0,7770.0,4.0,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0.0,203.0,8.0,1.0,38.0,0.0,0.0,0.0,14264.0,14302.0,2.0,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0.0,203.0,6.0,1.0,278.0,0.0,0.0,0.0,6761.0,7039.0,4.0,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0.0,203.0,6.0,1.0,234.0,0.0,0.0,0.0,7039.0,7273.0,4.0,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0.0,203.0,6.0,1.0,124.0,0.0,0.0,0.0,3685.0,3809.0,4.0,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0.0,203.0,6.0,1.0,141.0,0.0,0.0,0.0,3809.0,3950.0,4.0,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0.0,203.0,6.0,1.0,162.0,0.0,0.0,0.0,3950.0,4112.0,4.0,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0.0,203.0,6.0,1.0,159.0,0.0,0.0,0.0,4112.0,4271.0,4.0,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0.0,203.0,6.0,1.0,240.0,0.0,0.0,0.0,4453.0,4693.0,4.0,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,4693.0,4969.0,4.0,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0.0,203.0,6.0,1.0,182.0,0.0,0.0,0.0,4271.0,4453.0,4.0,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0.0,203.0,6.0,1.0,171.0,0.0,0.0,0.0,5246.0,5417.0,4.0,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0.0,203.0,6.0,1.0,315.0,0.0,0.0,0.0,5591.0,5906.0,4.0,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0.0,203.0,6.0,1.0,312.0,0.0,0.0,0.0,5906.0,6218.0,4.0,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0.0,203.0,6.0,1.0,267.0,0.0,0.0,0.0,6218.0,6485.0,4.0,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,6485.0,6761.0,4.0,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0.0,203.0,6.0,1.0,277.0,0.0,0.0,0.0,4969.0,5246.0,4.0,ELEC

In [ ]:
df.nunique()

client_id               11963
invoice_date             4628
tarif_type                 12
counter_number          19671
counter_statue              6
counter_code               32
reading_remarque            4
counter_coefficient         4
consommation_level_1     3571
consommation_level_2     4908
consommation_level_3     1096
consommation_level_4     3850
old_index               65903
new_index               66854
months_number             205
counter_type                2
dtype: int64

In [ ]:
#we drop these columns because they have an amount number of distinct values that can slow our model and not very important
df.drop('old_index',inplace=True,axis=1)
df.drop('new_index',inplace=True,axis=1)
df.drop('counter_number',inplace=True,axis=1)

In [ ]:
df.shape

(399255, 16)

In [ ]:
df['counter_type'].unique()

array(['ELEC', 'GAZ'], dtype=object)

data transformation

In [ ]:
#Transform the 'counter_type' feature to a numeric variable
#label encoding
from sklearn.preprocessing import LabelEncoder
lbE=LabelEncoder();
df['counter_type']=lbE.fit_transform(df['counter_type'])
df['counter_type']

0         0
1         0
2         0
3         0
4         0
         ..
399250    0
399251    0
399252    0
399253    0
399254    0
Name: counter_type, Length: 399255, dtype: int64

In [ ]:
df.drop('counter_statue',axis=1,inplace=True)#Delete the 'counter_statue' feature from the Dataframe

In [ ]:
df

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,0
1,train_Client_0,2013-03-29,11,1335667.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,0
2,train_Client_0,2015-03-23,11,1335667.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,0
3,train_Client_0,2015-07-13,11,1335667.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,0
4,train_Client_0,2016-11-17,11,1335667.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399250,train_Client_110762,2018-10-22,11,1331293.0,203.0,9.0,1.0,693.0,0.0,0.0,0.0,18728.0,19421.0,4.0,0
399251,train_Client_110762,2019-02-20,11,1331293.0,203.0,9.0,1.0,3.0,0.0,0.0,0.0,19421.0,19424.0,4.0,0
399252,train_Client_110762,2019-06-24,11,1331293.0,203.0,9.0,1.0,1.0,0.0,0.0,0.0,19424.0,19425.0,4.0,0
399253,train_Client_110762,2018-02-19,11,1331293.0,203.0,6.0,1.0,0.0,0.0,0.0,0.0,18609.0,18609.0,4.0,0
399254,train_Client_110762,2016-10-20,11,1331293.0,203.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0